@import "modules/variables";
@import "modules/mixins";
@import "modules/reset";
@import "modules/header";
@import "modules/responsive";
@import "modules/banner";
@import "modules/section-intro";
@import "modules/home";
// @import "modules/gallery";
@import "modules/contact";
@import "modules/blog";
@import "modules/btn";
@import "modules/footer";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


